<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layouts/common }">  <!--레이아웃 불러오기와서 치환 적용-->

<!--인덱스 페이지에만 적용할 css-->
<th:block layout:fragment="addCss">
    <link rel="stylesheet" type="text/css" th:href="@{ /css/main.css }">
</th:block>

<!--인덱스 페이지에만 적용할 js-->
<th:block layout:fragment="addScript">
    <script th:src="@{ /js/main.js }"></script>
</th:block>

<main layout:fragment="content">
    <h1>메인페이지 본문 ... </h1>
</main>

</html>